<!doctype html>
<html>
<head>
  <title>Selection</title>
</head>
<body>
    <form action = "/madlib">
        What person?: 
            <select name="person">
                <option value="Angelina Jolie">Angelina Jolie</option>
                <option value="Brad Pitt">Brad Pitt</option>
                <option value="Johnny Depp">Johnny Depp</option>
                <option value="Marilyn Monroe">Marilyn Monroe</option>
                <option value="Jimmy Fallon">Jimmy Fallon</option></select>
            <br>
    
        What color?: 
            <select name="color">
                <option value="red">red</option>
                <option value="blue">blue</option>
                <option value="purple">purple</option>
                <option value="green">green</option>
                <option value="white">white</option></select>
             <br>

        What noun?: 
            <select name="noun">
                <option value="dog">dog</option>
                <option value="cat">cat</option>
                <option value="house">house</option>
                <option value="dinosaur">dinosaur</option>
                <option value="car">car</option></select>
            <br>

        What adjective: 
            <select name="adjective">
                <option value="tranquil">tranquil</option>
                <option value="soft">soft</option>
                <option value="rambunctious">rambunctious</option>
                <option value="loud">loud</option>
                <option value="quiet">quiet</option></select>
             <br>

         
        How do you feel?:
        <input type="checkbox" name="feeling" value="sad">sad<br>
        <input type="checkbox" name="feeling" value="happy">happy<br> 

        <input type="submit">

     </form>



    </div>



</form>